name: Continuous integration
on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 21 * * *"

defaults:
  run:
    shell: bash

jobs:
  calculate-policy-matrix:
    runs-on: ubuntu-latest
    outputs:
      policy_working_dirs: ${{ steps.policy-matrix.outputs.policy_working_dirs }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # checkout all history to do git diff
      - name: 'Policy Matrix'
        id: policy-matrix
        uses: ./.github/actions/calculate-policy-matrix
  continuos-integration:
    uses: ./.github/workflows/reusable-ci.yaml
    needs: calculate-policy-matrix
    if: ${{ needs.calculate-policy-matrix.outputs.policy_working_dirs != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        policy-working-dir: ${{ fromJSON(needs.calculate-policy-matrix.outputs.policy_working_dirs) }}
    with:
      policy-working-dir: ${{ matrix.policy-working-dir }}
