on:
  workflow_dispatch:
    inputs:
      policy-working-dir:
        description: "working directory under policies folder"
        required: true
        type: string

name: Tag and Release on PR Merge

jobs:
  calculate-policy-matrix:
    runs-on: ubuntu-latest
    outputs:
      policy_working_dirs: ${{ steps.policy-matrix.outputs.policy_working_dirs }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # checkout all history to do git diff
      - name: 'Policy Matrix'
        id: policy-matrix
        uses: ./.github/actions/calculate-policy-matrix
        with:
          changes_only: 'true'
  release-tag:
    name: Tag and push, triggering release
    needs: calculate-policy-matrix
    if: >
      github.event.pull_request.merged == true &&
      contains(github.event.pull_request.labels.*.name, 'TRIGGER-RELEASE') ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    continue-on-error: true
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.policy-working-dir }}
    strategy:
      matrix:
        policy-working-dir: ${{ fromJSON(needs.calculate-policy-matrix.outputs.policy_working_dirs) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # also checkout tags

      - name: Get policy metadata
        id: policy-info
        uses: ./.github/actions/get-policy-metadata
        with:
          policy-working-dir: "${{ matrix.policy-working-dir }}"

      - name: Configure Git author
        run: |
          git config user.name "Kubewarden bot"
          git config user.email "itpe-core-maintenance@suse.com"

      - name: Create and push tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git tag -a "$VERSION" -m "Release version $VERSION"
          git push origin "$VERSION"

      - name: Trigger release workflow
        run: gh workflow run release.yml --ref "$VERSION"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Delete branch corresponding to the PR
        if: github.event.pull_request.head.ref != 'main'
        run: |
          git push origin --delete ${{ github.event.pull_request.head.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
