on:
  workflow_dispatch:
    inputs:
      policy-working-dir:
        description: |
          Policy directory under policies folder.
          Keep empty to release all policies
        required: false
        type: string
        default: ""
      policy-version:
        description: |
          Release version of the policy, without 'v' prefix. Optional.
          Defaults to extracting the version from tag if tag present.
          E.g: tag "v0.1.0", policy-version=0.1.0
        required: false
        type: string
        default: ""

name: Trigger policy release

jobs:
  calculate-policy-matrix:
    runs-on: ubuntu-latest
    outputs:
      policy_working_dirs: ${{ steps.calculate-policy-dirs.outputs.policy_working_dirs }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # checkout all history to do git diff
      - name: calculate which policies need a CI job
        id: calculate-policy-dirs
        shell: bash
        run: |
          if [ -z "${{inputs.policy-working-dir}}" ]; then
            # All policies must be released
            git remote -v
            policies_working_dirs=($(find policies -maxdepth 2 -name Makefile -exec dirname '{}' \;))
          else
            policy_working_dir=policies/${{ inputs.policy-working-dir }}
            if [ ! -d "$policy_working_dir" ]; then
              echo "$policy_working_dir does not exist"
              echo "::error title=Invalid inputs::$policy_working_dir does not exist"
              exit 1;
            fi
            # Release a single policy
            policies_working_dirs=("policies/${{ inputs.policy-working-dir }}")
          fi

          declare -p policies_working_dirs # for debug
          policy_working_dirs=$(jq --compact-output --null-input '$ARGS.positional | unique' --args -- "${policies_working_dirs[@]}")
          echo "policy_working_dirs=$policy_working_dirs" >> $GITHUB_OUTPUT

  open-release-pr:
    name: "Open PR to release policy"
    runs-on: ubuntu-latest
    needs: calculate-policy-matrix
    strategy:
      matrix:
        policy-working-dir: ${{ fromJSON(needs.calculate-policy-matrix.outputs.policy_working_dirs) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      # - name: Restore cargo-set-version from cache
      #   id: restore-cache
      #   uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      #   with:
      #     path: ~/.cargo/bin
      #     key: cargo-edit-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
      #     restore-keys: |
      #       cargo-edit-${{ runner.os }}-

      - name: Install cargo-set-version
        # if: ! steps.restore-cache.outputs.cache-hit
        run: cargo install cargo-edit

      - name: Get policy metadata
        id: policy-info
        uses: ./.github/actions/get-policy-metadata
        with:
          policy-working-dir: "${{ matrix.policy-working-dir }}"

      - name: Check if there is a tag to the version from metadata file.
        id: get-expected-version
        shell: bash
        run: |
          if [ ! -z "${{ inputs.policy-version }}" ]; then
            semver_result=$(semver compare ${{ steps.policy-info.outputs.policy-version }} ${{ inputs.policy-version }})
            if [ "$semver_result" == "1" ]; then
              echo "::error title=Invalid version::Cannot downgrade a policy version"
              exit 1
            fi
            echo "version=${{ inputs.policy-version }}" >> $GITHUB_OUTPUT
            exit 0
          fi
          # If there is no tag with the current version in the metadata file,
          # the previous version of the policy is missing. It looks like that
          # the policy is bein released for the first time. Then, release
          # drafter should use the current version already set in the policy.
          # Otherwise, let's release-drafter calculate the version for us based
          # on the PRs merged.
          policy_tag=$(git tag -l  $(basename ${{ matrix.policy-working-dir }})/v${{ steps.policy-info.outputs.policy-version }})
          if [ -z "$policy_tag" ]; then
            # No tag, let's use the version from the policy
            echo "version=${{ steps.policy-info.outputs.policy-version }}" >> $GITHUB_OUTPUT
            exit 0
          fi
          echo "version=''" >> $GITHUB_OUTPUT

      - name: Create draft release and calculate version
        id: create-release
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        with:
          config-name: "release-drafter-${{ steps.policy-info.outputs.policy-basename }}.yml"
          disable-autolabeler: true
          version: ${{ steps.get-expected-version.outputs.version}}
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: Ensure that release drafter is not downgrading the policy version
        run: |
          semver_result=$(semver compare ${{ steps.policy-info.outputs.policy-version }} ${{ steps.create-release.outputs.resolved_version }})
          if [ "$semver_result" == "1" ]; then
            echo "::error title=Invalid version::Cannot downgrade a policy version"
            exit 1
          fi

      # If there is version lacking a tag, we do not need to run updatecli because
      # the script will not update the metadata.yaml file. Therefore, the tag
      # is the only thing missing
      - name: Trigger tagging workflow
        if: ${{ steps.get-expected-version.outputs.version == steps.policy-info.outputs.policy-version }}
        run: gh workflow run release-tag.yaml --field  "policy-working-dir=${{matrix.policy-working-dir }}"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Create values.yaml for Updatecli based on release drafter release and policy information
        if: ${{ steps.get-expected-version.outputs.version != steps.policy-info.outputs.policy-version }}
        run: |
          cat <<EOF > values.yaml
          github:
            owner: "${{ github.repository_owner }}"
            repo: "${{ github.event.repository.name }}"
          policy:
            version: "${{ steps.create-release.outputs.resolved_version}}"
            working_dir: "${{ matrix.policy-working-dir }}"
            rust_package: "${{ steps.policy-info.outputs.policy-rust-package }}"
          EOF

      - name: Open PR with updatecli
        if: ${{ steps.get-expected-version.outputs.version != steps.policy-info.outputs.policy-version }}
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |-
          updatecli apply --config updatecli/updatecli.d/open-release-pr.yaml \
            --values updatecli/values.yaml \
            --values $(pwd)/values.yaml
